.table-container {
  height: 300px;
  width: 300px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
}

.column {
  border: 1px solid darkblue;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
